<section id="dialog"> </section>
<%= form_tag('welcome' ) do %>
<section id="signup" >
	<section id="signup_field">
		<section id="signup_text">
			<%= text_field_tag(:username, nil, :placeholder => 'user name', class: 'field',:required => 'required', size: 50) %>
			<%= text_field_tag(:password, nil, :placeholder => 'password', class: 'field', size: 50, :required => 'required') %>
			<%= text_field_tag(:confirm_password, nil, :placeholder => 'confirm password', class: 'field', size: 50, :required => 'required') %>
			<%= text_field_tag(:email, nil, :placeholder => 'email', class: 'field', size: 50, :required => 'required') %>
		</section>
		<section id="signup_buttons">
			<section id="signup_check">
				<p>
					<%= check_box_tag(:terms,nil,true, class: 'field, test')%> <a href="term">Terms and Conditions</a> 
				</p>
				<p>
					<%= check_box_tag(:policy,nil,true, class: 'field')%> <a href="policy"> Agree to Privacy Policy</a>
				</p>
			</section>
			<section id="signup_btn">
				<!-- <%= button_tag('Submit')%> -->
				<input type="image" src="/assets/buttons/register_bttn/active_register.png" alt="Submit">
				<!-- <button name="button" type="submit" <img src="buttons/register_bttn/active_register.png">>Submit</button> -->
			</section>
		</section>
	</section>
</section>
<% end %>
