<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
<%= devise_error_messages! %>
<%= f.hidden_field :reset_password_token %>
<section id="signup" >

	<section id="reg_all">
		<h2>Change your password</h2>
		<section id="signup_field">
			<section id="edit_pass">
				<div>
					<!-- <%= f.label :password, "New password" %>
					<br /> -->
					<%= f.password_field :password, :placeholder => 'New Password', :autofocus => true %>
				</div>

				<div>
					<!-- <%= f.label :password_confirmation, "Confirm new password" %>
					<br /> -->
					<%= f.password_field :password_confirmation, :placeholder => 'Confirm password' %>
				</div>
			</section>
			<section id="reg_buttons">
				<div id="regBut" >
					<div>
						<%= f.submit "Change my password" %>
					</div>
					<% end %>
			</section>
			<%= render "devise/shared/links" %>
		</section>
	</section>
</section>
