<!DOCTYPE html>
<html>
	<head>
		<title>CPC Registration</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>

	</head>
	<script>
	// Footer functions ************************************************************
		function showFooter()
		{
			//alert("Show Footer");
			$('footer').addClass('footer_up');
			$('#footer_hide').show();
			$('#upArrow').hide();
			$('#downArrow').show();

		}

		function hideFooter()
		{
			//alert("Hide Footer");
			//$('footer').addClass('footer_down');
			$('footer').removeClass('footer_up');
			$('#footer_hide').hide();
			$('#upArrow').show();
			$('#downArrow').hide();

		}
// For terms & condition and Policy checkboxes  ****************************************************
		function validateCheckbox()
		{
			//alert("checkbox");
			if (!jQuery('#terms').is(":checked") || !jQuery('#policy').is(":checked"))
			{
				//alert("False");
				$('#checkbox_error').show();
				//alert("show")
				return false;
			}
		}



	</script>
	<body>
		<section id="mainContainer">

			<header>
				<ul>
					<li >
						<%= image_tag "logo/white_logo.png", :class => 'white_logo' %>
					</li>
					<li id="" class="regularBold header_user">
						<% if user_signed_in? %>
						<%= current_user.username%>

					</li>
					<li class="right middle regularBold">
						<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
						<% else %>
						<%= link_to "Sign up", new_user_registration_path %> OR <%= link_to "sign in", new_user_session_path %>
						<!-- <input type="button" value="Sign out" style="height: 30px;"> -->
						<% end%>
					</li>

				</ul>

			</header>
<!-- <section id="dialog"></section> -->
			<section id="container">

				<section class="collision"></section>
				<%= yield %>

			</section>

			<footer>
				<section id="footer_img">
					<section class="collision"></section>
					<section id="footer_arrow" >
						<a id="upArrow" href="javascript:showFooter()"> <img src="/assets/footer/ftr_arrow_up.png"  /></a>
						<a id="downArrow" href="javascript:hideFooter()"> <img src="/assets/footer/ftr_arrow_down.png"  /></a>
					</section>
				</section>
				<section id="footer_background">
					<section id="footer_hide">
						<section id="footer_links">
							<ul>
								<li>
									<ul>
										<li>
											<a href="#">About Us & Contacts<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Suppotr<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Legal<img src="/assets/footer/footer_line.gif" /></a>
										</li>
									</ul>
								</li>
								<li>
									<ul>
										<li>
											<a href="#">Jobs<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Merchants Login<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Ad Polices<img src="/assets/footer/footer_line.gif" /></a>
										</li>
									</ul>
								</li>
								<li>
									<ul>
										<li>
											<a href="#">Advertise<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Help<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Terms & Conditions<img src="/assets/footer/footer_line.gif" /></a>
										</li>

									</ul>
								</li>
							</ul>

						</section>
						<section id="footer_email">
							<section id="footer_emailForm">
								<p class="regular">
									Keep in touch with click price.com
								</p>
								<form>
									<input type="text" placeholder="email"  size="40"/>
									<input type="image" src="/assets/footer/active_signup_bttn.png" alt="Submit">

								</form>
							</section>
						</section>
					</section>
				</section>
			</footer>
		</section>

		<script>
			$(function()
			{
// For terms & condition and Policy checkboxes ********************************************************
				$(".checkbox").change(function()
				{
					if (this.checked)
					{
						if (jQuery('#terms').is(":checked") && jQuery('#policy').is(":checked"))
						{
							$('#checkbox_error').hide();
						}
					}
				});
				
	// Dialog *****************************************************************************************			
				$('#dialog').dialog(
				{
					autoOpen : false,
					modal : true,
					dialogClass : 'no_title',
					width : 484,
					height : 420,
					buttons :
					{
						'Close' : function()
						{
							$(this).dialog("close");
						}
					}
				});

				$(".check").on("click", function(e)
				{
					//alert("alert")
					e.preventDefault();
					$("#dialog").html("");
					$("#dialog").dialog().dialog("open");
					$("#dialog").load(this.href, function()
					{
						$(this).dialog();

					});
				});

			});

		</script>
	</body>
</html>
