<!DOCTYPE html>
<html>
	<head>
		<title>CPC Registration</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>

	</head>
	<script>
		function showFooter()
		{
			//alert("Show Footer");
			$('footer').addClass('footer_up');
			$('#footer_hide').show();
			$('#upArrow').hide();
			$('#downArrow').show();

		}

		function hideFooter()
		{
			//alert("Hide Footer");
			//$('footer').addClass('footer_down');
			$('footer').removeClass('footer_up');
			$('#footer_hide').hide();
			$('#upArrow').show();
			$('#downArrow').hide();

		}

	</script>
	<body>
		<section id="mainContainer">

			<header>
				<ul>
					<li >
						<%= image_tag "logo/white_logo.png", :class => 'white_logo' %>
					</li>
					<li id="header_user" class="regularBold "> <% if user_signed_in? %>
						<%= current_user.username%>
						<% end%>
					</li>

				</ul>

			</header>

			<section id="container">
				<section id="dialog"></section>
				<section id="bg_ad_bttn">
					<a href="#"> <img src="/assets/buttons/bg_ad_bttn/hover_bg_ad_bttn.png"/></a>
				</section>
				<section id="ad_bttn">
					<a href="#"> <img src="/assets/buttons/ad_bttn/hover_ad_bttn.png"/></a>
				</section>
				<section id="partner_bttn">
					<a href="#"> <img src="/assets/buttons/partner_bttn/hover_partner_bttn.png"/></a>
				</section>
				<section class="collision"></section>
				<%= yield %>

			</section>

			<footer>
				<section id="footer_img">
					<section class="collision"></section>
					<section id="footer_arrow" >
						<a id="upArrow" href="javascript:showFooter()"> <img src="/assets/footer/ftr_arrow_up.gif"  /></a>
						<a id="downArrow" href="javascript:hideFooter()"> <img src="/assets/footer/ftr_arrow_down.gif"  /></a>
					</section>
				</section>
				<section id="footer_background">
					<section id="footer_hide">
						<section id="footer_links">
							<ul>
								<li>
									<ul>
										<li>
											<a href="#">About Us & Contacts<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Suppotr<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Legal<img src="/assets/footer/footer_line.gif" /></a>
										</li>
									</ul>
								</li>
								<li>
									<ul>
										<li>
											<a href="#">Jobs<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Merchants Login<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Ad Polices<img src="/assets/footer/footer_line.gif" /></a>
										</li>
									</ul>
								</li>
								<li>
									<ul>
										<li>
											<a href="#">Advertise<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Help<img src="/assets/footer/footer_line.gif" /></a>
										</li>
										<li>
											<a href="#">Terms & Conditions<img src="/assets/footer/footer_line.gif" /></a>
										</li>

									</ul>
								</li>
							</ul>

						</section>
						<section id="footer_email">
							<section id="footer_emailForm">
								<p class="regular">
									Keep in touch with click price.com
								</p>
								<form>
									<input type="text" placeholder="email"  size="40"/>
									<input type="image" src="/assets/footer/active_signup_bttn.png" alt="Submit">

								</form>
							</section>
						</section>
					</section>
				</section>
			</footer>
		</section>

		<script>
						// $(function(){
			// $('#dialog').dialog({
			// autoOpen: false,
			// modal: true,
			// width: 600,
			// height: 400,
			// buttons:{
			// 'Close': function(){
			// $(this).dialog("close");
			// }
			// }
			// });
// 
			// $(".check").on("click", function(e){
			// alert("alert")
			// e.preventDefault();
			// $("#dialog").html("");
			// $("#dialog").dialog("option", "title", "Loading...").dialog("open");
			// $("#dialog").load(this.href, function(){
				// $(this).dialog("option", "title");
// 				
			// });
			// });
// 
			// });
			
// 			
			 $(function()
			 {
				$('.check').on('click', function(e)
				{
					e.preventDefault();
					$('<div/>',
					{
						'class' : 'myDlgClass',
						'id' : 'link-' + ($(this).index() + 1)
					}).load($(this).attr('href')).appendTo('body').dialog(
					{
						// // 'title' : $(this).text(),
						//'dialogClass' : "no_title",
						'width' : 484,
						'height' : 590,
					//	'modal' : true,
						buttons : [
						{
							text : "OK",
							click : function()
							{
								alert("Close");								
								$(this).dialog("close");
								alert("done")
							}
						}]
					})
				});
			});

		</script>
	</body>
</html>
